.toggle-success {
  display: flex;
  color: white;
  background: rgb(106, 218, 79);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.form-partes {
  margin: 20px 0;
  text-align: center;
  border-radius: 20px;
  border: 1px solid cornflowerblue;
  font-size: 1.5rem;
}
.btn-partes {
  background: rgb(64, 202, 60) !important;
}
