.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 15%;
}

.name {
  text-transform: uppercase;
  color: cornflowerblue;
  font-size: 3rem;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  margin-bottom: 30px;
}

.btn {
  background: cornflowerblue;
  color: white;
  text-decoration: none;
  border: 2px white solid;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 20%;
  text-align: center;
}

.login-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contrato-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
